.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_12h09.43.369.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_13h48.50.51.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_14h20.00.17.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_15h11.19.959.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_15h11.32.183.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_17h47.01.386.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_17h55.12.402.csv
data-analysis/data/pilot-v1/processed/emogo-pilot-v1alldata.csv
data-analysis/analysis/rsconnect/documents/1_analysis.Rmd/rpubs.com/rpubs/Document.dcf
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_19h18.56.470.csv
data-analysis/analysis/rsconnect/documents/1_analysis.Rmd/rpubs.com/rpubs/Publish Document.dcf
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-24_11h10.57.65.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-24_12h30.38.528.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-24_14h26.19.651.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-24_14h35.41.430.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-25_19h36.28.172.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_07h09.50.67.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_07h42.47.788.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_11h42.43.442.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h28.31.163.csv
data-analysis/data/v1/processed/emogo-v1-alldata.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h30.50.923.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h41.40.195.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h42.33.623.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h54.25.343.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_15h24.24.212.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_15h33.25.814.csv
