.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_12h09.43.369.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_13h48.50.51.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_14h20.00.17.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_15h11.19.959.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_15h11.32.183.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_17h47.01.386.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_17h55.12.402.csv
data-analysis/data/pilot-v1/processed/emogo-pilot-v1alldata.csv
data-analysis/analysis/rsconnect/documents/1_analysis.Rmd/rpubs.com/rpubs/Document.dcf
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-23_19h18.56.470.csv
data-analysis/analysis/rsconnect/documents/1_analysis.Rmd/rpubs.com/rpubs/Publish Document.dcf
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-24_11h10.57.65.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-24_12h30.38.528.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-24_14h26.19.651.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-24_14h35.41.430.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-25_19h36.28.172.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_07h09.50.67.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_07h42.47.788.csv
data-analysis/data/pilot-v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_11h42.43.442.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h28.31.163.csv
data-analysis/data/v1/processed/emogo-v1-alldata.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h30.50.923.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h41.40.195.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h42.33.623.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h54.25.343.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_15h24.24.212.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_15h33.25.814.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h28.31.163.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h30.50.923.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h41.40.195.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h42.33.623.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_14h54.25.343.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_15h24.24.212.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-26_15h33.25.814.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_07h32.59.182.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_07h39.31.70.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_08h02.14.20.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_08h11.01.258.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_08h28.08.518.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_08h36.06.931.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_08h37.36.910.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_08h38.25.125.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h03.18.283.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h11.26.72.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h32.05.195.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h36.06.808.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h37.28.485.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h38.30.452.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h40.20.199.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h41.15.169.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h43.55.197.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h44.10.341.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h46.52.249.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h48.15.919.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h49.29.505.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h50.32.609.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h51.27.998.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h52.01.362.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h52.36.199.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h53.57.331.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h57.07.663.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h57.24.191.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_09h59.05.237.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h01.21.344.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h01.27.701.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h02.32.69.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h02.59.712.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h04.36.472.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h04.41.629.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h06.08.384.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h07.01.642.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h07.48.83.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h08.36.626.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h10.01.897.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h11.04.390.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h12.09.391.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h17.05.989.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h19.22.781.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h26.10.364.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h31.02.298.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h35.21.105.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h36.16.154.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h36.32.763.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h37.06.294.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h37.30.245.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h37.34.94.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h37.45.443.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h37.49.195.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h38.11.515.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h38.22.988.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h38.26.143.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h38.52.715.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h39.37.862.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h40.06.712.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h40.37.665.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h41.14.796.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h42.26.43.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h44.11.377.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h45.00.279.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h47.25.481.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h47.50.203.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h49.35.351.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h49.51.174.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h49.55.257.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h50.33.460.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h52.37.322.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h53.42.372.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h53.51.229.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h54.50.831.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h55.38.751.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h55.52.806.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h57.54.804.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h59.32.519.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_10h59.37.704.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h02.50.128.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h04.59.978.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h06.49.797.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h07.01.843.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h07.58.673.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h09.01.260.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h09.19.530.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h09.50.736.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h12.06.473.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h13.37.535.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h15.02.545.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h16.24.840.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h36.45.773.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h38.13.843.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h38.31.338.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h39.42.831.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h47.37.527.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h47.41.629.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_11h52.38.823.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_12h12.32.804.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_12h21.51.990.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_12h27.40.474.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_12h41.15.786.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_12h42.59.779.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_13h20.39.72.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_13h51.14.41.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_14h06.25.776.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_14h07.56.743.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_14h15.21.907.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_14h43.05.229.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_14h47.08.719.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_15h02.37.8.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_15h15.11.951.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_15h19.38.293.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_15h19.40.804.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_15h22.05.946.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_15h28.35.91.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_15h42.02.516.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_15h42.05.781.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_16h34.17.751.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_18h09.21.734.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_18h34.51.743.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_19h51.57.201.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_20h32.29.371.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_21h22.35.832.csv
data-analysis/data/v1/raw/emogo-v1_PARTICIPANT_SESSION_2022-08-29_21h28.42.168.csv
data-analysis/data/v1/all_data_preprocessing/emogo-v1-alldata-anonymized.csv
data-analysis/data/v1/all_data_preprocessing/emogo-v1-alldata.csv
data-analysis/data/v1/participants/emogo_v1_cloudresearch_list.csv
data-analysis/data/v1/processed/workerId_top_50.csv
